@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #F6F6F5;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

/* Tạo màu sắc cho thanh cuộn */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: lightgray;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media (min-width: 800px) {
  .custom-container {
    width: 335px;
  }
}

.custom-container {
  width: 50px;
  height: 450px;
  position: sticky;
  margin: auto 0px;
  overflow-y: auto;
}

/* Định dạng thanh cuộn */
.custom-container::-webkit-scrollbar {
  width: 4px;
}

/* Định dạng nút cuộn */
.custom-container::-webkit-scrollbar-thumb {
  background-color: #4299e1;
  border-radius: 3px;
}

@media (min-width: 800px) {
  .custom-container {
    width: 330px;
  }
}

/* Custom dashboard */
/* Định dạng thanh cuộn */
.custom-dashboard::-webkit-scrollbar {
  width: 4px;
}

/* Định dạng nút cuộn */
.custom-dashboard::-webkit-scrollbar-thumb {
  background-color: #4299e1;
  border-radius: 3px;
}